.wrapper_with_padding
	#docs.clearfix
		- unless @docs.blank?
			- @docs.each do |doc|
				%a{ href: (url_for [doc])}
					.doc
						%p.title= doc.title
						%p.date= "Created " + time_ago_in_words(doc.created_at) + " ago"
						%p.content= truncate(doc.content, length:150)
		-else
			%h2 Create A Document
			%p Start Creating Documents & Store Your Files
			%button= link_to "Create Document", new_doc_path

 