%h1=@doc.title
%p=@doc.content

= link_to "All Documents", docs_path
%br
= link_to "Edit Document", edit_doc_path(@doc)
%br
= link_to "Delete This Document", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?"}