#banner
	.banner_content
		%h1 Stora
		%p Store all your files
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Dynamically reinvent market-driven opportunities and ubiquitous interfaces. Energistically fabricate an expanded array of niche markets through robust products. Appropriately implement visionary e-services vis-a-vis strategic web-readiness.

#bottom_cta
	.wrapper
		%h2 Sign Up!
		%br
		%button= link_to "Join Now", new_user_registration_path